__pycache__/
*.pyc
*.log
.env
.venv/
.mypy_cache/
.pytest_cache/
attachments/
templates/*
!templates/email_de.html
!templates/email_en.html
!templates/email_fr.html
!templates/webform.html
leads/*.xlsx
archive/
# packages
*.egg-info/
dist/

# OS files
.DS_Store

